.section{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 300px;
    background-color: rgb(4, 164, 228);
    color: white;
    font-weight: 700;
    padding: 5px;
}

.section__body {
    padding: 0;
    margin: 0;
}